<!DOCTYPE html>
<html>

<head>

    <title>Edit Food</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>👨‍💼 FoodExpress Admin</h2>

</nav>

<h1>Edit Food</h1>

<form action="/edit_food/{{ food.id }}" method="POST">

    <input
        type="text"
        name="name"
        value="{{ food.name }}"
        required
    >

    <br><br>

    <input
        type="number"
        name="price"
        value="{{ food.price }}"
        required
    >

    <br><br>

    <button type="submit">
        Update Food
    </button>

</form>

<br>

<a href="/admin">

    <button>
        Cancel
    </button>

</a>

</body>

</html>