<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>🍔 FoodExpress</h2>

</nav>

<h1>Login</h1>

<form action="/login" method="POST">

    <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
    >

    <br><br>

    <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
    >

    <br><br>

    <button type="submit">
        Login
    </button>

</form>

<br>

<p>
    Don't have an account?
</p>

<a href="/register">

    <button>
        Register
    </button>

</a>

</body>

</html>