<!DOCTYPE html>
<html>

<head>

    <title>My Orders</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>🍔 FoodExpress</h2>

</nav>

<h1>📦 My Orders</h1>

{% if orders %}

<div class="food-container">

{% for order in orders %}

<div class="food-card">

    <h2>Order #{{ order.id }}</h2>

    <p>
        <strong>Total:</strong>
        ₹{{ order.total_price }}
    </p>

    <p>
        <strong>Date:</strong><br>
        {{ order.order_date }}
    </p>

    <a href="/order_details/{{ order.id }}">
        <button>View Details</button>
    </a>

</div>

{% endfor %}

</div>

{% else %}

<h2>No Orders Yet!</h2>

{% endif %}

<br>

<a href="/">
    <button>Back to Home</button>
</a>

</body>

</html>